
body { 
    background-image: url("C:/Users/Joao Paulo/Desktop/Function Async/img/star.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   } 

.app {
    
    border-radius: 20px;    
}

.app strong {
   color: orange;   
}

.app small {
    color: rgb(255, 255, 255);
    font-size: 20px;
 }

.Search-cont {
    text-align: center;
    font-size: 22px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.801);
}

.app-cont {  
   height: 300px;
    border: 2px solid orange;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.801);
    text-align: center;
    width: 700px;
}

.app-cont p {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
  }


.PlanetList {
    text-align: center;
    list-style: none;
    color: rgb(233, 175, 68);
    background-color: rgba(0, 0, 0, 0.801);
    border: 2px solid orange;
}

.small-text {
    
    border-radius: 20px;
    color: orange;
}



@media screen and (max-width: 548px) {

    .app-cont p {
        color: rgb(255, 255, 255);
        font-size: 23px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif 
      }

}
